<div class="container">

  <div class="page-header">
    <h2>Most Hits</h2>
  </div>
  <ol>
    <% @hits.each do |datum| %>
      <li><%= datum[0] %> (<%= datum[1] %>)</li>
    <% end %>
  </ol>

  <div class="page-header">
    <h2>Most Talked About</h2>
  </div>
  <ol>
    <% @top.each do |datum| %>
      <li><a href="/tickers/<%= datum[0] %>"><%= datum[0] %></a></li>
    <% end %>
  </ol>
</div>